.container__bankAccounts {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 20px;
  margin-bottom: 50px;
  .container__account {
    background-color: white;
    width: 90%;
    align-self: center;
    .box__account {
      display: flex;
      justify-content: space-between;
      padding: 20px 10px;
      &-infos {
        display: flex;
        flex-direction: column;
      }
    }
    .box__transaction {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-image: linear-gradient(to left, #12002b, #00bc77);
      border: 1px solid white;
      span {
        color: white !important;
      }
      &-left,
      &-right {
        padding: 20px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
